:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.headerlogo-accent {
  color: #212121;
}

.logo:hover {
  color: var(--accent-color);
}

/* Site nav */
.list {
  list-style: none;
}

.site-nav {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.contacts {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-email {
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-phone {
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-email:hover,
.header-email:focus {
  color: var(--accent-color);
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}
/* Hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  color: var(--primary-white-color);
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-primary:hover {
  color: var(--primary-white-color);
  background-color: #188ce8;
}
/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.employers {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.employer-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.employer-detailes {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* footer */
.address {
  color: var(--primary-white-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-background {
  background-color: #2f303a;
}
.footer-email {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-phone {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.footerlogo-accent {
  color: var(--primary-white-color);
  text-decoration: none;
}

/* portfolio */
.button-secondary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-secondary-current {
  background: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-details {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
